@using PagedList;
@using PagedList.Mvc;
@model PagedList<QuanLyBanSach_Web.Models.Data.ChiTietDonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayOut.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>
            Mã đơn hàng
        </th>
        <th>
            Mã khách hàng
        </th>
        <th>
            Số Lượng
        </th>
        <th>
            Đơn Giá
        </th>
        <th>
            Đã thanh toán
        </th>
        <th>
            Mã Sách
        </th>
        <th>
            Tên Sách
        </th>
        <th>
            Chức năng
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaDH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonHang.MaKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonHang.DaThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sach.TenSach)
            </td>
            <td>
                @Html.ActionLink("Xóa", "Xoa", new { @MaDonHang = item.MaDH, @MaSach = item.MaSach }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
