@using PagedList.Mvc;
@using PagedList;
@model IPagedList<QuanLyBanSach_Web.Models.Data.Sach>
@{
    ViewBag.Title = "KetQuaTimKiem";
    Layout = "~/Views/LayOut/NguoiDungLayOut.cshtml";
}
<style>
    #home {
        display: none;
    }
</style>
<h2 style="margin-left:2%;font-weight:normal;color:black">Kết quả tìm kiếm</h2>
<div>@ViewBag.ThongBao</div>
<hr />

<div class="boxmain">
    <div class="ct-boxmain row m0">
        @foreach (var Item in Model)
        {
            <div class="col-xs-6 col-sm-4 col-md-3 p5">
                <div class="boxsp">
                    <div class="imgsp">
                        <a href="@Url.Action("ChiTietSach", "Sach", new { @Masach = Item.MaSach })"><img class="imgproduct" src="@Url.Content("~/AnhBia/" + Item.AnhBia)"></a>
                    </div>
                    <div class="namesp">
                        <a href="">@Item.TenSach</a>
                    </div>
                    <div class="pricesp">@Item.GiaBan VNĐ</div>
                    <div class="button-hd">
                        <a href="@Url.Action("ThemGioHang", "GioHang", new { @MaSP = Item.MaSach, @strUrl = Request.Url.ToString() })"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        <a href="@Url.Action("ChiTietSach", "Sach", new { @Masach = Item.MaSach })"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
            <div class="MenuTrang">
                @Html.PagedListPager(Model, page => Url.Action("KetQuaTimKiem", new { page = page }))
            </div>
            <style>
                .imgsp {
                    padding-left: 10%;
                }
            </style>




